.container {
    max-width: 600px;
    margin: 50px auto;
    margin-bottom: 5rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007F86;
}



.room-form .form-group {
    margin-bottom: 15px;
}

select {
  height: 27px; /* or any value you prefer */
  font-size: 16px; /* optional: makes text more readable */
  padding: 3px 5px; /* optional: adds spacing inside */
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


input,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: .5px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
}


textarea {
    height: 100px;
}


img {
    height: 200px;
    max-width: 60%;
}


button {
    display: inline-block;
    width: calc(50% - 10px);
    padding: 10px 20px;
    margin: 10px 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: #007F86;
    color: #f9f9f9;
}



button:hover {
    opacity: 0.8;
}

.row-pair {
  display: flex;
  gap: 20px; /* spacing between inputs */
}

.half-width {
  flex: 1;
  display: flex;
  flex-direction: column;
}
